<ion-header>
    <ion-toolbar>
      <ion-title>{{ selectedPlace.title }}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="onCancel()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onBookPlace()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-input type="text" label="First Name" name="first-name" labelPlacement="floating" ngModel required fill="outline"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-input type="text" label="Last Name" name="last-name" labelPlacement="floating" ngModel required fill="outline"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-select label="Number of Guests" name="guests-number" labelPlacement="floating" [ngModel]="'2'" required fill="outline">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-label>Available From</ion-label>
          <ion-datetime-button datetime="dateFrom" name="date-from" fill="outline"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime [ngModel] required id="dateFrom" presentation="date" [preferWheel]="true" [min]="selectedPlace.dateFrom?.toISOString()" [value]="startDate" [max]="selectedPlace.dateTo?.toISOString()" [(ngModel)]="dateFrom" name="dateFrom" color="secondary"></ion-datetime>
            </ng-template>
          </ion-modal>

        </ion-col>
        <ion-col size-sm="3">
          <ion-label>Available To</ion-label>
          <ion-datetime-button datetime="dateTo" name="date-to" fill="outline"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime [ngModel] required id="dateTo" presentation="date" [preferWheel]="true" [min]="dateFrom" [value]="endDate" [max]="selectedPlace.dateTo?.toISOString()" name="dateTo" color="secondary"></ion-datetime>
            </ng-template>
          </ion-modal>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary" expand="block" [disabled]="!f.valid || !datesValid()">Book!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
